.title-animation {
  opacity: 1;

  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes title {
  0% {
    color: white;
    position: translateX(-300px);
  }

  50% {
    color: black;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(15px);
  }
}
