body {
  overflow-x: hidden;
}

.title-animation {
  opacity: 1;

  animation-name: title;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes title {
  0% {
    color: white;
  }

  50% {
    color: black;
  }

  100% {
  }
}

.animation-2 {
  opacity: 1;

  animation-name: title2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes title2 {
  0% {
    color: black;
  }

  50% {
    color: white;
  }

  100% {
    color: white;
  }
}

.blur {
  filter: blur(5px);
}

.project-position {
  top: 67px;
  right: 75px;
}
